<!DOCTYPE html>
<html>
        <!-- Include Head -->
        <%- include('../partials/head', {title: 'Detalle'}) %>
        <link rel="stylesheet" href="/css/product.css">

    <body>
        <!-- Include Header -->
        <%- include('../partials/header') %>

        <main>


                <h3 class="titulo2"><%= product.name %></h3>
                <div class="inf-product">
                    
                        <img src="/images/products/<%= product.image %>" alt="Palito frutal Naranja" class = "info-img1">
                        <img src="/images/products/<%= product.image2 %>" alt="Palito frutal Naranja" class = "info-img2">
                </div>

                <p class="product-detail-description">
                    <%= product.description %>
                </p>

                <p class="product-detail-description">
                    <%= product.pack %> unidades por caja
                </p>

                <p class="product-detail-description">
                    Precio : $<%= product.price %>
                </p>

                <div class="amount1">
                    
                    <div class="amount2">
                    <p>- 1 +</p>
                    </div>
                </div>

                <div class ="add">
                <i class="fas fa-cart-plus"></i>
                </div>

                <div class="button3">
                        
                    
                    <div class="editbutton">
                        <form>
                            <button ><a href="/products/edit/<%= product.id %>">Editar producto</a></button>
                        </form>
                    </div> 

                    <div class="erasebutton2">
                        
                        <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
							<button type="submit">Eliminar producto</button>
						</form>

                    </div>
                
                </div>

        </main>

        <!-- Include Footer -->
        <%- include('../partials/footer') %>

        <!-- Include Scripts -->
        <%- include('../partials/scripts') %>
        
    </body>

</html>