<!DOCTYPE html>
<html>
        <!-- Include Head -->
        <%- include('../partials/head', {title: 'Detalle'}) %>
        <link rel="stylesheet" href="/css/product.css">

    <body>
        <!-- Include Header -->
        <%- include('../partials/header') %>

        <main>
                <h3 class="titulo2">Edicion de <%= productToEdit.name %></h3>
            


                <div class="form0">
                    <img src="/images/products/ice-crean.gif" alt="Helado de carga" class="ice-cream-load1">

                    <div class="form1">
                        <form action="/products/edit/<%= productToEdit.id %>?_method=PATCH" method="POST" enctype="multipart/form-data" >

                                <div>
                                    <label for="name" class="form-label">Nombre del producto:</label>
                                    <input type="text" id="name" name="name"  class="form-input" value="<%= productToEdit.name %>">
                                </div>
                                <br>
                                <div>
                                    <label for="price" class="form-label">Precio del producto:</label>
                                    <input type="number" id="price" name="price"  class="form-input" value="<%= productToEdit.price %>">
                                </div>
                                <br>
                                <div>
                                    <label for="pack" class="form-label">Unidades por pack:</label>
                                    <input type="number" id="pack" name="pack"  class="form-input" value="<%= productToEdit.pack %>">
                                </div>
                                <br>
                                <div>
                                    <label for="stock" class="form-label">Stock a cargar:</label>
                                    <input type="number" id="stock" name="stock"  class="form-input" value="<%= productToEdit.stock %>">
                                </div>
                                <br>
                                <div>
                                    <label for="discount" class="form-label">Descuento:</label>
                                    <input type="number" id="discount" name="discount"  class="form-input" value="<%= productToEdit.discount %>">
                                </div>
                                <br>
                                <div>
                                    <label for="category" class="form-label">Categoría:</label>
                                    <select name="category" id="category" class="form-input" >
                                        <option value=""><%= productToEdit.category %></option>
                                        <option value="Palitos">Palitos</option>
                                        <option value="Bombones">Bombones</option>
                                        <option value="Postres">Postres</option>
                                        <option value="Tortas heladas">Tortas heladas</option>
                                    </select>
                                </div>
                                <br>
                                <div>
                                    <label for="description" class="form-label">Descipción:</label>
                                    <textarea name="description" id="description" class="form-input"><%= productToEdit.description %></textarea>
                                </div>
                                <br>
                                <div class="product-img">
                                    <label for="productImage"><h2>Imagen del producto</h2></label><br>
                                    <input type="file" name="productImage" id="productImage">
                                </div>
                                <br>
                                <div class="button2">
                        
                                    <div class="chargebutton"><button type="submit" >Guardar cambios</button></div>
                                    
                                </div>

                            </div>

                        </form>

                        <img src="/images/products/ice-crean.gif" alt="Helado de carga" class="ice-cream-load2">
                        
                    </div>


                    
             

        </main>

        <!-- Include Footer -->
        <%- include('../partials/footer') %>

        <!-- Include Scripts -->
        <%- include('../partials/scripts') %>
        
    </body>

</html>