<!DOCTYPE html>
<html>
        <!-- Include Head -->
        <%- include('../partials/head', {title: 'Inicio'}) %>
        <link rel="stylesheet" href="/css/product.css">

    <body>
        <!-- Include Header -->
        <%- include('../partials/header') %>
        <%- include('../partials/selectProduct') %>
        <main>

            <h3>Palitos</h3>
            
            <section class="home-product">

                <div class="products">
                    
                    <% products.forEach(function(products){%>
                        <% if(products.category=="Palitos"){%>
                    <article class="item">
                        
                        <h4 class="description"><%= products.name %></h4>
                        <a href="/products/detail/<%= products.id %>"><img src="/images/products/<%= products.image %>" alt="Palito frutal Naranja" ></a>
                        <div class="main-article">
                                <p class="price">$<%= products.price %></p>
                        </div>
                        
                    </article>
                    <% } %>
                    <% }) %>
                    
                </div>
            </section>

        </main>

        <!-- Include Footer -->
        <%- include('../partials/footer') %>

        <!-- Include Scripts -->
        <%- include('../partials/scripts') %>
        
    </body>
    
</html>