<!DOCTYPE html>
<html>
        <!-- Include Head -->
        <%- include('partials/head', {title: 'Inicio'}) %>

    <body>
        <!-- Include Header -->
        <%- include('partials/header') %>

        <main>


            <h3>Precios especiales</h3>

            
            <section class="home-product">

                <div class="products">
                    
                    <% products.forEach(function(products){%>
                        <% if(products.discount>0){%> 
                            <% if(userLog.category === "Seller"){%> 
                            <article class="item">
                                
                                <h4 class="description"><%= products.name %></h4>
                                <a href="/products/detail/<%= products.id %>"><img src="/images/products/<%= products.productImage %>" alt="Palito frutal Naranja" ></a>
                                <div class="main-article">
                                        <p class="price2">$
                                            <%= (products.price * ((80 - products.discount)/ 100)).toFixed()%>
                                        </p>
                                        <span><%= products.discount +20 %> %OFF</span>
                                </div>
                                
                            </article>
                            <% }else{ %>
                                <article class="item">
                                
                                    <h4 class="description"><%= products.name %></h4>
                                    <a href="/products/detail/<%= products.id %>"><img src="/images/products/<%= products.productImage %>" alt="Palito frutal Naranja" ></a>
                                    <div class="main-article">
                                            <p class="price2">$
                                                <%= (products.price * ((100 - products.discount)/ 100)).toFixed()%>
                                            </p>
                                            <span><%= products.discount%> %OFF</span>
                                    </div>
                                    
                                </article>
                            <% } %>    
                        <% } %>
                    <% }) %>
                    
                </div>
            </section>

        </main>

        <!-- Include Footer -->
        <%- include('partials/footer') %>

        <!-- Include Scripts -->
        <%- include('partials/scripts') %>
        
    </body>
    
</html>