<!DOCTYPE html>
<html>
        <!-- Include Head -->
        <%- include('../partials/head', {title: 'Login'}) %>
        <link rel="stylesheet" href="/css/login.css">

    <body>
        <!-- Include Header -->
        <%- include('../partials/header') %>

        <main class="login">

            <form action="/users/login" method="POST" class="formlog">

                
                <div class ="zone"><input type="text" name="email" placeholder="Mail de usuario" required></div>

                    <% if(locals.errors && errors.email){%>
                        <div class="dangermsg"><%= errors.email.msg %></div>
                        <br>
                    <%}%>

                <div class ="zone"><input type="password" name="password" placeholder="Contraseña" required></div>

                <% if(locals.errors && errors.password){%>
                    <div class="dangermsg"><%= errors.password.msg %></div>
                    <br>
                <%}%>

                <div>
                    <input type="checkbox" name="rec" value="a" id="a" class="otro">
                    <label for="a" class="otro">Recordar mi usuario</label>
                </div>
                <br>
                <div class ="click"><button type="submit">Enviar</button></div>
                <br>


                <a href="/"><h5 class="otro">¿Olvidaste tu clave?</h5></a>
                <br>
                <a href="/users/Register"><h5 class="otro">¿No tenes cuenta? Registrate aca</h5></a>
                
            </form>

        </main>

        <!-- Include Footer -->
        <%- include('../partials/footer') %>

        <!-- Include Scripts -->
        <%- include('../partials/scripts') %>

    </body>

</html>